<template>
  <v-row justify="center">
    <v-col
      cols="12"
      md="12"
      xl="12"
    >
      <v-container>
        <v-card>
          <v-card-title>
            <span class="headline">GUARDAR REGISTRO</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-form
                @submit="save"
                v-model="valid"
              >
                <v-row
                  >
                    <v-col
                        cols="12"
                        md="12"
                        xl="12"
                    >
                      <v-text-field
                          v-model="registro.nombre"
                          :rules="nombreRules"
                          counter="20"
                          type="text"
                          label="Nombre"
                          required
                      ></v-text-field>
                    </v-col>

                    <v-col
                        cols="12"
                        md="12"
                    >
                      <v-textarea
                          v-model="registro.descripcion"
                          :rules="descripcionRules"
                          counter="2000"
                          rows="2"
                          label="Descripción"
                          required
                      ></v-textarea>
                    </v-col>

                    <v-col
                        cols="12"
                        md="12"
                    >
                      <v-btn
                          class="float-right"
                          color="primary"
                          type="submit"
                          :disabled="!valid"
                      >
                        GUARDAR
                      </v-btn>
                    </v-col>


                  </v-row>
              </v-form>
            </v-container>
          </v-card-text>
          <v-card-actions>
          </v-card-actions>
        </v-card>

      </v-container>

    </v-col>

    <v-col
      cols="6"
    >

      <v-expansion-panels>

        <v-expansion-panel>
          <v-expansion-panel-header disable-icon-rotate>
            Imagenes
            <template v-slot:actions>
              <v-badge
                  color="green"
                  v-bind:content="registro.imagenes.length"
              >

              </v-badge>
            </template>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
              <v-form
                @submit="saveImagen"
                v-model="validImagen"
              >
                <v-row
                  >
                    <v-col
                        cols="6"
                        md="6"
                        xl="6"
                        sm="6"
                    >
                      <v-text-field
                          v-model="imagen.titulo"
                          :rules="tituloImagenRules"
                          counter="30"
                          type="text"
                          label="Titulo"
                          required
                      ></v-text-field>
                    </v-col>
                    <v-col
                        cols="6"
                        md="6"
                        xl="6"
                        sm="6"
                    >
                      <v-text-field
                          v-model="imagen.url"
                          :rules="urlImagenRules"
                          type="text"
                          label="URL"
                          required
                      ></v-text-field>
                    </v-col>

                    <v-col
                        cols="12"
                        md="12"
                        xl="12"
                        sm="12"
                    >
                      <v-textarea
                          v-model="imagen.descripcion"
                          :rules="descripcionImagenRules"
                          counter="100"
                          label="Descripción"
                          rows="2"
                          required
                      ></v-textarea>
                    </v-col>

                    <v-col
                        cols="12"
                        md="12"
                    >
                      <v-btn
                          class="float-right"
                          color="primary"
                          type="submit"
                          :disabled="!validImagen"
                      >
                        GUARDAR
                      </v-btn>
                    </v-col>
                  </v-row>
              </v-form>
            <v-simple-table>
              <template v-slot:default>
                <thead>
                <tr>
                  <th class="text-left">
                    Titulo
                  </th>
                  <th>Descripción</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr
                    v-for="(item, index) in registro.imagenes"
                    :key="index"
                >
                  <td>{{ item.titulo }}</td>
                  <td>{{ item.descripcion }}</td>
                  <td>
                    <v-icon
                        small
                        @click="deleteImagen(index)"
                    >
                      mdi-delete
                    </v-icon>
                    <v-icon
                        small
                        @click="watchImg(item)"
                    >
                      mdi-eye
                    </v-icon>
                  </td>
                </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-col>

    <v-col
      cols="6"
    >
      <v-expansion-panels>
        <v-expansion-panel>
          <v-expansion-panel-header disable-icon-rotate>
            Videos
            <template v-slot:actions>
              <v-badge
                  color="green"
                  v-bind:content="registro.videos.length"
              >
              </v-badge>
            </template>
          </v-expansion-panel-header>
          <v-expansion-panel-content>

              <v-form
                @submit="saveVideo"
                v-model="validVideo"
              >
                <v-row
                  >
                    <v-col
                        cols="6"
                        md="6"
                        xl="6"
                        sm="6"
                    >
                      <v-text-field
                          v-model="video.titulo"
                          :rules="tituloVideoRules"
                          counter="30"
                          type="text"
                          label="Titulo"
                          required
                      ></v-text-field>
                    </v-col>
                    <v-col
                        cols="6"
                        md="6"
                        xl="6"
                        sm="6"
                    >
                      <v-text-field
                          v-model="video.url"
                          :rules="urlVideoRules"
                          type="text"
                          label="URL"
                          required
                      ></v-text-field>
                    </v-col>

                    <v-col
                        cols="12"
                        md="12"
                        xl="12"
                        sm="12"
                    >
                      <v-textarea
                          v-model="video.descripcion"
                          :rules="descripcionVideoRules"
                          counter="100"
                          label="Descripción"
                          rows="2"
                          required
                      ></v-textarea>
                    </v-col>

                    <v-col
                        cols="12"
                        md="12"
                    >
                      <v-btn
                          class="float-right"
                          color="primary"
                          type="submit"
                          :disabled="!validVideo"
                      >
                        GUARDAR
                      </v-btn>
                    </v-col>
                  </v-row>
              </v-form>

            <v-simple-table>
              <template v-slot:default>
                <thead>
                <tr>
                  <th class="text-left">
                    Titulo
                  </th>
                  <th>Descripción</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr
                    v-for="(item, index) in registro.videos"
                    :key="index"
                >
                  <td>{{ item.titulo }}</td>
                  <td>{{ item.descripcion }}</td>
                  <td>
                    <v-icon
                        small
                        @click="deleteVideo(index)"
                    >
                      mdi-delete
                    </v-icon>
                    <v-icon
                        small
                        @click="watchVideo(item.url)"
                    >
                      mdi-eye
                    </v-icon>
                  </td>
                </tr>
                </tbody>
              </template>
            </v-simple-table>

          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-col>
    <formDialogComponent
        :modal="modalShow"
        :img="imagPassModal"
        @close="closeEmmit"
    >

    </formDialogComponent>
  </v-row>
</template>

<script>
import  FormDialogComponent from "./FormDialogComponent";
export default {
  name:"formComponent",
  components:{
    "formDialogComponent": FormDialogComponent,

  },
  mounted() {
    if(this.$route.params.id != undefined) {
      this.registro = this.$store.getters.getRegistrosByKey(this.$route.params.id);
    }
  },
  data: () => ({
    modalShow:false,
    valid:false,
    validImagen:false,
    validVideo:false,
    imagPassModal:{},
    imagen:{
      titulo:"",
      descripcion:"",
      url:""
    },
    video:{
      titulo:"",
      descripcion:"",
      url:""
    },
    registro:{
      nombre:"",
      descripcion:"",
      imagenes:[],
      videos:[]
    },
    nombreRules:[
        v => v.length < 20 || 'El número máximo de carácteres es de 20',
        v => !!v || 'El nombre es obligatorio'
    ],
    descripcionRules:[
      v => v.length < 2000 || 'El número máximo de carácteres es de 2000',
    ],
    tituloImagenRules:[
      v => v.length > 2 || 'Mínimo 3 carácteres',
      v => !!v || "El titulo es obligatorio"
    ],
    urlImagenRules:[
      v => !!v || "La URL es requerida"      
    ],
    descripcionImagenRules:[
      v => v.length < 100 || 'Maximo 100 carácteres'
    ],

    tituloVideoRules:[
      v => v.length > 2 || 'Mínimo 3 carácteres',
      v => !!v || "El titulo es obligatorio"
    ],
    urlVideoRules:[
      v => !!v || "La URL es requerida"
    ],
    descripcionVideoRules:[
      v => v.length < 100 || 'Maximo 100 carácteres'
    ],
  
  }),
  methods:{
    save(e){
      e.preventDefault();
      if(this.registro.imagenes.length >= 5 && this.registro.videos.length >= 1 ){
        if (this.$route.params.id !== undefined) {
          this.$store.commit("deleteRegistro", this.$route.params.id);
          this.$store.commit("setRegistros", this.registro);
        }
        else{
          this.$store.commit("setRegistros", this.registro);
        }
        this.$router.go(-1)

      }
      else{
        alert("Debes incluir al menos 5 imagenes y un video");
      }
    },
    saveImagen(e){
      e.preventDefault();
     this.registro.imagenes.push(this.imagen);
      this.imagen = {};
    },
    saveVideo(e){
      e.preventDefault();
      this.registro.videos.push(this.video);
      this.video = {};
    },
    deleteImagen(index){
      this.registro.imagenes.splice(index,1);
    },
    deleteVideo(index){
      this.registro.videos.splice(index,1);
    },
    closeEmmit(){
      this.modalShow = false;
    },
    watchImg(img){
      this.imagPassModal = img;
      this.modalShow = true;
    },
    watchVideo(video){
      window.location = video;
    }
  },
  props:{

  },
  computed:{

  },
}
</script>
