<template>
  <v-row justify="center">
    <v-dialog
        v-model="statemodal"
        persistent
        max-width="600px"
    >

      <v-card>
        <v-card-title>
          <span class="headline">{{ img.titulo }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-img
                  max-height="233"
                  max-width="345"
                  v-bind:src="img.url"
              ></v-img>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="blue darken-1"
              text
              @click="close"
          >
            CERRAR
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  name:"formDialogComponent",
  data: () => ({
    form:{
      nombre:"",
      descripcion:""
    },
    nombreRules:[

    ]

  }),
  methods:{
    close(){
      this.$emit('close',{modal:false});
    }
  },
  props:{
    modal:{
      type: Boolean,
      required: true,
      default: false
    },
    img:{
      titulo:"",
      descripcion:"",
      url:""
    }
  },
  computed:{
    statemodal: {
      get(){
        return this.modal;

      },
      set(newState){
        this.modal = newState;
      }
    },
  },
}
</script>
