<template>
  <v-row>
    <v-col
          cols="6"
          md="12"
          class="text-right"
      >
        <v-btn
            v-on:click="openForm"
            class="mt-2 mr-1"
            color="success"
            dark>
          AGREGAR REGISTRO
        </v-btn>
    </v-col>

    <v-col
      cols="12"
    >
      <v-card>
        <v-card-title>
          <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Búsqueda"
              single-line
              hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
            :headers="headers"
            :items="this.$store.getters.getRegistros"
            :search="search"
            :items-per-page="5"
        >
          <template v-slot:item.actions="{ index }">
            <v-icon
                small
                class="mr-2"
                @click="editItem(index)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
                small
                @click="deleteItem(index)"
            >
              mdi-delete
            </v-icon>
          </template>

        </v-data-table>
      </v-card>
    </v-col>L

  </v-row>
</template>
<script>
/*import FormDialogComponent from "./FormDialogComponent";*/
export default {
  components:{
/*    'formModalComponent' : FormDialogComponent*/
  },
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Nombre',
          align: 'start',
          value: 'nombre',
        },
        { text: 'Descripción', value: 'descripcion' },
        { text: 'Total de Imagenes', value: 'imagenes.length' },
        { text: 'Total de Videos', value: 'videos.length' },
        { text: 'Acciones', value: 'actions', sortable: false },

      ],
    }
  },
  methods:{

    editItem(item){
      this.$router.push({name:'Form',params:{id:item}});
    },
    deleteItem(item){
      this.$store.commit("deleteRegistro", item);
    },
    openForm(){
      this.$router.push('Form');
    }
/*    closeEmmit(value){
      if (value.object){
        alert("do something");
      }
      else{
        alert("do something on else");
      }
      this.modalShow = value.modal;
    }*/
  }
}
</script>
