<template>

  <v-row>
    <v-col
        cols="12"
        md="12"
        xl="12"
        class="d-flex justify-center"
    >
      <v-alert
          border="top"
          color="red lighten-2"
          dark
          v-if="!successLogin"
      >
        Credenciales Incorrectas
      </v-alert>

    </v-col>

    <v-container

        class="d-flex justify-center mb-12"
    >

      <v-form
          @submit="auth"
          v-model="valid"
      >
        <v-row
        >
          <v-col
              cols="12"
              md="12"
          >
            <v-text-field
                v-model="form.mail"
                :rules="emailRules"
                type="email"
                label="Corrreo Eletrónico"
                required
            ></v-text-field>
          </v-col>

          <v-col
              cols="12"
              md="12"
          >
            <v-text-field
                v-model="form.pwd"
                :rules="pwdRules"
                label="Contraseña"
                type="password"
                required
            ></v-text-field>
          </v-col>

          <v-col
              cols="12"
              md="12"
          >
            <v-btn
                class="float-right"
                color="primary"
                type="submit"
                :disabled="!valid"
            >
              ENTRAR
            </v-btn>
          </v-col>


        </v-row>
      </v-form>
    </v-container>
  </v-row>
</template>

<script>
  export default {
    name: 'LoginComponent',

    data: () => ({
      valid: false,
      successLogin: true,
      form:{
        mail:"",
        pwd:""
      },
      emailRules:[
         v => !!v || "El correo electrónico es requerido",
         v => /.+@.+/.test(v) || 'El correo ectrónico debe ser valido',
      ],
      pwdRules:[
          v => !!v || 'La contraseña electrónico es requerido',
          v => !!v || 'La contraseña es requerida'
      ]
    }),

    methods:{
      auth(e){
        e.preventDefault();
        if (this.form.mail == "user@bitfx.com.mx" && this.form.pwd == "bitfx123Pwd"){
          const user = {
            nombre: "José Valerio",
            email : this.form.mail
          }
          localStorage.setItem(
              "user",JSON.stringify(user)
          );// Guardamos  el token
          window.location.href="Home";
        }else{
          this.successLogin = false;
        }// else
      }// auth
    }
  }
</script>
