<template>
    <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>
    <template
      v-if="this.$store.getters.isAuthenticated"
    >
      <v-spacer>
        !HOLA! {{this.$store.getters.getUser.nombre}}
      </v-spacer>

      <v-spacer
          class="text-right"
      >
        <v-btn
            icon
            v-on:click="salir"
        >
          <v-icon>mdi-login</v-icon>
        </v-btn>

      </v-spacer>

    </template>


    </v-app-bar>

    <v-main>
      
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
//import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',

  components: {
 //   HelloWorld,
  },

  data: () => ({
    //
  }),
  methods:{
    salir(){
      // Matamos la sesión
      this.$store.dispatch('logOut')
    }
  }
};
</script>
